{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}
<title>Ferremas | SignUp</title>
<link rel="stylesheet" href="{% static 'app/css/style.css' %}">
<br>
<div style="margin-top: 8rem;">
	<form action="" method="post">
		<h1>Regístrate</h1>
						<hr style="height: 1px; color:var(--text); width: 80%; margin: 0;">
		{%csrf_token%}
		<div class="input1">
			<label for="username" class="form-label">Usuario</label>
			{{form.username}}
		</div>
		<hr style="height: 1px; color:var(--text); width: 80%; margin: 0;">
		<div class="input1">
			<label for="email" class="form-label">Email</label>
		{{form.email}}
		</div>
		<hr style="height: 1px; color:var(--text); width: 80%; margin: 0;">
		<div class="input1">
			<label for="password1" class="form-label">Contraseña</label>
			{{form.password1}} <!-- contraseña -->

			<label for="password2" class="form-label">Confirma Contraseña</label>
		{{form.password2}} <!-- confirmacion contraseña -->
		</div>
		<hr style="height: 1px; color:var(--text); width: 80%; margin: 0;">
		<br>
		{{form.type}}
		<br>
		{{form.errors}}
		<br>
		<p>Ya tienes cuenta?   <a  href="{% url 'login' %}">Ingresa!</a></p>
		<button type="submit" name="create user">Registrarse</button>
	</form>
</div>
{% endblock contenido %}