{% extends 'base.html' %}
{% load static %}
{% block content %}

<contenedor>
	<form action="" method="post">
		<h1>Regístrate</h1>
						<hr style="height: 1px; color:var(--text); width: 80%; margin: 0;">
		{%csrf_token%}
		<div class="input1">
			<label for="username" class="form-label">Usuario</label>
			{{form.username}}
		</div>
		<hr style="height: 1px; color:var(--text); width: 80%; margin: 0;">
		<div class="input1">
			<label for="email" class="form-label">Email</label>
		{{form.email}}
		</div>
		<hr style="height: 1px; color:var(--text); width: 80%; margin: 0;">
		<div class="input1">
			<label for="password1" class="form-label">Contraseña</label>
			{{form.password1}} <!-- contraseña -->

			<label for="password2" class="form-label">Confirma Contraseña</label>
		{{form.password2}} <!-- confirmacion contraseña -->
		</div>
		<hr style="height: 1px; color:var(--text); width: 80%; margin: 0;">
		<br>
		{{form.type}}
		<br>
		{{form.errors}}
		<button type="submit" name="create user">Registrarse</button>
	</form>
</contenedor>
{% endblock content %}