{% extends 'app/base.html' %}
{% load static %}
{% load extras %}
{% load crispy_forms_tags %}
{% block contenido %}
<br><br><br><br><br>
<style>
    body {
        font-family: Arial, sans-serif;
    }

    .dashboard {
        display: flex;
    }

    .sidebar {
        width: 200px;
        background-color: #f8f9fa;
        padding: 15px;
    }

    .sidebar h2 {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .sidebar ul {
        list-style-type: none;
        padding: 0;
    }

    .sidebar ul li {
        margin-bottom: 10px;
    }

    .sidebar ul li a {
        text-decoration: none;
        color: #000000;
    }

    .content {
        flex-grow: 1;
        padding: 20px;
    }

    .table-container {
        margin-top: 20px;
    }

    .table-container h2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .table-container h2 button {
        background-color: #380e53;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 500px;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    .nav-list {
        list-style: none;
        padding: 0;
    }
    .nav-list li {
        margin-bottom: 10px;
    }
    .nav-list a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        display: block;
        padding: 10px;
        transition: background-color 0.3s, color 0.3s;
    }
    .nav-list a:hover {
        background-color: #f0f0f0;
        color: #380e53;
    }
    .nav-list a.active {
        background-color: #380e53;
        color: white;
    }
</style>

<div class="dashboard">
    <div class="sidebar" style="border-radius: 5%;">
        <h2>Admin Dashboard</h2>
        <hr>
        <ul class="nav-list">
            <li><a href="#" onclick="showSection('usuarios')" id="usuarios-link">Usuarios</a></li>
            <li><a href="#" onclick="showSection('productos')" id="productos-link">Productos</a></li>
            <li><a href="#" onclick="showSection('tiendas')" id="tiendas-link">Tiendas</a></li>
            <li><a href="#" onclick="showSection('categorias')" id="categorias-link">Categorías</a></li>
            <li><a href="#" onclick="showSection('categoriaProd')" id="categoriaProd-link">Categoría Productos</a></li>
            <li><a href="#" onclick="showSection('stock')" id="stock-link">Stock</a></li>
        </ul>
    </div>
    <div class="content">
        <div id="usuarios" class="table-container" style="width: 1000px; margin: 0 auto;">
            <h2 class="text-center">Usuarios 
                <button onclick="openModal('modal-add-user')" class="btn btn-primary btn-lg">Agregar Usuario</button>
            </h2>
            <br>
            <div class="table-responsive">
                <table class="table table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Tipo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.get_type_display }}</td>
                            <td>
                                <button onclick="openEditUserModal('modal-edit-user', {{ user.id }})" class="btn btn-warning">Editar</button>
                                <button onclick="deleteItem('delete_user', {{ user.id }})" class="btn btn-danger">Eliminar</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        

        <div id="productos" class="table-container" style="display:none; width: 1000px; margin: 0 auto;">
            <!-- Buscador -->
            <form method="get" action="{% url 'admin_dashboard' %}" onsubmit="redirectToProducts(event)">
                <input type="text" name="q" placeholder="Buscar por marca, nombre o categoría" value="{{ query }}">
                <button type="submit">Buscar</button>
            </form>
            
            
            <h2>Productos <button onclick="openModal('modal-add-producto')" class="btn btn-primary btn-lg">Agregar Producto</button></h2>
            <br>
            
            
            <br>
            <table class="table table-striped table-hover text-center">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Marca</th>
                        <th>Imagen</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    <tr>
                        <td style="width: 150px;">{{ producto.nombre }}</td>
                        <td>{{ producto.marca }}</td>
                        <td><img src="{{ producto.imagen_url }}" alt="" style="height: 100px;"></td>
                        <td style="width: 300px;">{{ producto.descripcion|truncate_chars:100 }}</td> <!-- Truncar descripción -->
                        <td>{{ producto.precio }}</td>
                        <td>
                            <button onclick="openEditProductModal('modal-edit-producto', {{ producto.id_producto }})" class="btn btn-warning">Editar</button>

                            <button onclick="deleteItem('delete_producto', {{ producto.id_producto }})" class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'app/paginator.html' with entity=page_obj %}
        </div>

        <div id="tiendas" class="table-container" style="display:none; width: 1000px; margin: 0 auto;">
            <h2>Tiendas <button onclick="openModal('modal-add-tienda')" class="btn btn-primary btn-lg" >Agregar Tienda</button></h2>
            <br>
            <table class="table table-striped table-hover text-center" >
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tienda in tiendas %}
                    <tr>
                        <td>{{ tienda.nombre }}</td>
                        <td>{{ tienda.direccion }}</td>
                        <td>
                            <button onclick="openEditTiendaModal('modal-edit-tienda', {{ tienda.id_tienda }})" class="btn btn-warning">Editar</button>
                            <button onclick="deleteItem('delete_tienda', {{ tienda.id_tienda }})" class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="categorias" class="table-container " style="display:none; width: 1000px; margin: 0 auto;">
            <h2>Categorías <button onclick="openModal('modal-add-categoria')" class="btn btn-primary btn-lg">Agregar Categoría</button></h2>
            <table class="table  table-striped table-hover text-center">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categoria in categorias %}
                    <tr>
                        <td>{{ categoria.nombre }}</td>
                        <td>
                            <button onclick="openEditCategoriaModal('modal-edit-categoria', {{ categoria.id_categoria }})" class="btn btn-warning">Editar</button>
                            <button onclick="deleteItem('delete_categoria', {{ categoria.id_categoria }})" class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="categoriaProd" class="table-container " style="display:none; width: 1000px; margin: 0 auto;">
            <h2>Categoría Productos<button onclick="openModal('modal-add-cateProd')" class="btn btn-primary btn-lg">Agregar Categoría Producto</button></h2>
            <table class="table  table-striped table-hover text-center">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categoria in categoria_producto %}
                    <tr>
                        <td>{{ categoria.nombre_categoria }}</td>
                        <td>
                            <button onclick="openEditCategoriaProdModal('modal-edit-cateProd', {{ categoria.id }})" class="btn btn-warning">Editar</button>
                            <button onclick="deleteItem('delete_categoriaproducto', {{ categoria.id }})" class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="stock" class="table-container" style="display:none; width: 1000px; margin: 0 auto;">
            <h2>Stock <button onclick="openModal('modal-add-stock')" class="btn btn-primary btn-lg" >Agregar Stock</button></h2>
            <br>
            <table class="table table-striped table-hover text-center" >
                <thead>
                    <tr>
                        <th>Sucursal</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stocks %}
                    <tr>
                        <td>{{ stock.sucursal.nombre }}</td>
                        <td>{{ stock.producto.nombre }}</td>
                        <td>{{ stock.cantidad }}</td>
                        <td>
                            <button onclick="openEditStockModal('modal-edit-stock', {{ stock.id }})" class="btn btn-warning">Editar</button>
                            <button onclick="deleteItem('delete_stock', {{ stock.id }})" class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
</div>

<!-- Modales para agregar/editar usuarios -->
<div id="modal-add-user" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('modal-add-user')">&times;</span>
        <h2>Agregar Usuario</h2>
        <form method="post" action="{% url 'create_user' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Usuario</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password1">Contraseña</label>
                <input type="password" class="form-control" id="password1" name="password1" required>
            </div>
            <div class="form-group">
                <label for="password2">Confirma Contraseña</label>
                <input type="password" class="form-control" id="password2" name="password2" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Agregar</button>
        </form>
    </div>
</div>

<!-- Modal para Editar Usuario -->
<div id="modal-edit-user" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('modal-edit-user')">&times;</span>
        <h2>Editar Usuario</h2>
        <form id="editUserForm" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="editUsername">Usuario</label>
                <input type="text" class="form-control" id="editUsername" name="username" required>
            </div>
            <div class="form-group">
                <label for="editEmail">Email</label>
                <input type="email" class="form-control" id="editEmail" name="email" required>
            </div>
            <div class="form-group">
                <label for="editType">Tipo</label>
                <select class="form-control" id="editType" name="type" required>
                    <option value="Bod">Bodeguero (Interno)</option>
                    <option value="Con">Contador (Interno)</option>
                    <option value="Ven">Vendedor (Interno)</option>
                    <option value="Cli">Cliente (Externo)</option>
                </select>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>
    </div>
</div>
<!-- Modales para agregar/editar productos -->
<div id="modal-add-producto" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('modal-add-producto')">&times;</span>
        <h2>Agregar Producto</h2>
        <form method="post" action="{% url 'create_producto' %}">
            {% csrf_token %}
            {{producto_form | crispy}}
            <button type="submit" class="btn btn-primary">Agregar</button>
        </form>
    </div>
</div>

<div id="modal-edit-producto" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('modal-edit-producto')">&times;</span>
        <h2>Editar Producto</h2>
        <form id="editProductForm" method="post" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="editMarca">Marca</label>
                <input type="text" class="form-control" id="editMarca" name="marca" required>
            </div>
            <div class="form-group">
                <label for="editNombre">Nombre</label>
                <input type="text" class="form-control" id="editNombre" name="nombre" required>
            </div>
            <div class="form-group">
                <label for="editCodigoProducto">Codigo producto</label>
                <input type="text" class="form-control" id="editCodigoProducto" name="codigo_producto" required>
            </div>
            <div class="form-group">
                <label for="editDescripcion">Descripción</label>
                <textarea class="form-control" id="editDescripcion" name="descripcion" rows="3" required></textarea>
            </div>
            <div class="form-group">
                <label for="editPrecio">Precio</label>
                <input type="number" class="form-control" id="editPrecio" name="precio" required>
            </div>
            <div class="form-group">
                <label for="editCategoria">Categoría</label>
                <select class="form-control" id="editCategoria" name="categoria" required>
                    {% for categoria in categoria_producto %}
                    <option value="{{ categoria.categoria.id_categoria }}">{{ categoria.nombre_categoria }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="editImagenUrl">Imagen url</label>
                <input type="text" class="form-control" id="editImagenUrl" name="imagen_url" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>
    </div>
</div>

<!-- Modales para agregar/editar tiendas -->
<div id="modal-add-tienda" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('modal-add-tienda')">&times;</span>
        <h2>Agregar Tienda</h2>
        <br>
        <form method="post" action="{% url 'create_tienda' %}">
            {% csrf_token %}
            {{ tienda_form.as_p }}
            <button type="submit" class="btn btn-primary">Agregar</button>
        </form>
    </div>
</div>

<div id="modal-edit-tienda" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('modal-edit-tienda')">&times;</span>
        <h2>Editar Tienda</h2>
        <form id="editTiendaForm" method="post" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="editNombre">Nombre</label>
                <input type="text" class="form-control" id="editNombreTienda" name="nombre" required>
            </div>
            <div class="form-group">
                <label for="editDireccion">Dirección</label>
                <input type="text" class="form-control" id="editDireccion" name="direccion" required>
            </div>
            <div class="form-group">
                <label for="editComuna">Comuna</label>
                <input type="text" class="form-control" id="editComuna" name="comuna" required>
            </div>
            <div class="form-group">
                <label for="editRegion">Región</label>
                <input type="text" class="form-control" id="editRegion" name="region" required>
            </div>
            <div class="form-group">
                <label for="editTelefono">Teléfono</label>
                <input type="text" class="form-control" id="editTelefono" name="telefono" required>
            </div>
            <div class="form-group">
                <label for="editEmail">Email</label>
                <input type="email" class="form-control" id="editEmailTienda" name="email" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>
    </div>
</div>

<!-- Modales para agregar/editar categorías -->
<div id="modal-add-categoria" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('modal-add-categoria')">&times;</span>
        <h2>Agregar Categoría</h2>
        <form  method="post" action="{% url 'create_categoria' %}">
            {% csrf_token %}
            {{ categoria_form.as_p }}
            <br>
            <button type="submit" class="btn btn-primary">Agregar</button>
        </form>
    </div>
</div>

<div id="modal-edit-categoria" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('modal-edit-categoria')">&times;</span>
        <h2>Editar Categoría</h2>
        <form id="editCategoriaForm" method="post" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="editNombre">Nombre</label>
                <input type="text" class="form-control" id="editNombreCategoria" name="nombre" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>
    </div>
</div>

<!-- Modales para agregar/editar categoríaProducto -->
<div id="modal-add-cateProd" class="modal">
	<div class="modal-content">
			<span class="close" onclick="closeModal('modal-add-cateProd')">&times;</span>
			<h2>Agregar Categoría</h2>
			<form  method="post" action="{% url 'create_cat_prod' %}">
					{% csrf_token %}
					{{ cat_form.as_p }}
					<br>
					<button type="submit" class="btn btn-primary">Agregar</button>
			</form>
	</div>
</div>

<div id="modal-edit-cateProd" class="modal">
	<div class="modal-content">
			<span class="close" onclick="closeModal('modal-edit-cateProd')">&times;</span>
			<h2>Editar Categoría</h2>
			<form id="editCatForm" method="post" action="">
					{% csrf_token %}
					<div class="form-group">
						<label for="editCategoria">Categoría</label>
						<select class="form-control" id="editCategoria" name="categoria" required>
								{% for categoria in categorias %}
								<option value="{{ categoria.id_categoria }}">{{ categoria.nombre }}</option>
								{% endfor %}
						</select>
					</div>
					<div class="form-group">
							<label for="editNombreCat">Nombre</label>
							<input type="text" class="form-control" id="editNombreCat" name="nombre_categoria" required>
					</div>
					<div class="form-group">
							<label for="editSubCat">Sub-Categoria</label>
							<input type="text" class="form-control" id="editSubCat" name="subcategoria" required>
					</div>
					<div class="form-group">
							<label for="editSub-tipo">Sub-Tipo</label>
							<input type="text" class="form-control" id="editSub-tipo" name="sub_tipo_producto" required>
					</div>
					<br>
					<button type="submit" class="btn btn-primary">Actualizar</button>
			</form>
	</div>
</div>

<!-- Modales para agregar/editar stock -->
<div id="modal-add-stock" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('modal-add-stock')">&times;</span>
        <h2>Agregar Stock</h2>
        <form method="post" action="{% url 'create_stock' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="sucursal">Sucursal</label>
                <select class="form-control" id="sucursal" name="sucursal" required>
                    <option value="" disabled selected>Seleccione una sucursal</option>
                    {% for tienda in tiendas %}
                        <option value="{{ tienda.id_tienda }}">{{ tienda.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="producto">Producto</label>
                <select class="form-control" id="producto" name="producto" required>
                    <option value="" disabled selected>Seleccione un producto</option>
                    {% for categoria in categorias %}
                        <optgroup label="{{ categoria.nombre }}">
                            {% for producto in productos %}
                                {% if producto.categoria.categoria.id_categoria == categoria.id_categoria %}
                                    <option value="{{ producto.id_producto }}">{{ producto.nombre }}</option>
                                {% endif %}
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="cantidad">Cantidad</label>
                <input type="number" class="form-control" id="cantidad" name="cantidad" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Agregar</button>
        </form>
    </div>
</div>

<div id="modal-edit-stock" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('modal-edit-stock')">&times;</span>
        <h2>Editar Stock</h2>
        <form id="editStockForm" method="post" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="editStockSucursal">Sucursal</label>
                <select class="form-control" id="editStockSucursal" name="sucursal" required>
                    {% for tienda in tiendas %}
                        <option value="{{ tienda.id_tienda }}">{{ tienda.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="editStockProducto">Producto</label>
                <select class="form-control" id="editStockProducto" name="producto" required>
                    {% for producto in productos %}
                        <option value="{{ producto.id_producto }}">{{ producto.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="editStockCantidad">Cantidad</label>
                <input type="number" class="form-control" id="editStockCantidad" name="cantidad" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>
    </div>
</div>

<script>
    function redirectToProducts(event) {
    event.preventDefault(); // Prevenir el comportamiento por defecto del formulario
    const form = event.target;
    const query = form.querySelector('input[name="q"]').value;
    const url = new URL(form.action, window.location.origin);
    url.searchParams.set('q', query);
    url.hash = 'productos'; // Añadir el hash para redirigir a la sección de productos
    window.location.href = url.toString();
    localStorage.setItem('selectedSection', 'productos');
}

function showSection(sectionId) {
    const sections = document.querySelectorAll('.table-container');
    sections.forEach(section => {
        section.style.display = 'none';
    });
    document.getElementById(sectionId).style.display = 'block';
    localStorage.setItem('selectedSection', sectionId);
}

window.addEventListener('load', function() {
    const queryParams = new URLSearchParams(window.location.search);
    const query = queryParams.get('q');
    const selectedSection = localStorage.getItem('selectedSection');

    if (query && window.location.hash === '#productos') {
        showSection('productos');
    } else if (selectedSection) {
        showSection(selectedSection);
    } else {
        // Mostrar una sección por defecto si no hay ninguna seleccionada
        showSection('usuarios'); // Ajusta según tu sección por defecto
    }
});
    function openModal(modalId) {
        document.getElementById(modalId).style.display = 'block';
    }

    function closeModal(modalId) {
        document.getElementById(modalId).style.display = 'none';
    }

    function deleteItem(action, itemId) {
        if (confirm('¿Estás seguro de que deseas eliminar este elemento?')) {
            window.location.href = `/admin/${action}/${itemId}/`;
        }
    }

    function openEditModal(modalId, itemId) {
        const form = document.querySelector(`#${modalId} form`);
        form.action = form.action.replace('itemId', itemId);
        document.getElementById(modalId).style.display = 'block';
        
    }

    function openEditProductModal(modalId, productoId) {
    fetch(`/admin/get_producto/${productoId}/`)
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                document.getElementById('editMarca').value = data.marca;
                document.getElementById('editNombre').value = data.nombre;
                document.getElementById('editCodigoProducto').value = data.codigo_producto;
                document.getElementById('editDescripcion').value = data.descripcion;
                document.getElementById('editPrecio').value = data.precio;
                document.getElementById('editCategoria').value = data.categoria;
                document.getElementById('editImagenUrl').value = data.imagen_url;
                const form = document.getElementById('editProductForm');
                form.action = `/admin/update_producto/${productoId}/`;
                document.getElementById(modalId).style.display = 'block';
            }
        })
        .catch(error => console.error('Error:', error));
    }

    function openEditCategoriaModal(modalId, categoriaId) {
    fetch(`/admin/get_categoria/${categoriaId}/`)
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                document.getElementById('editNombreCategoria').value = data.nombre;
                const form = document.getElementById('editCategoriaForm');
                form.action = `/admin/update_categoria/${categoriaId}/`;
                document.getElementById(modalId).style.display = 'block';
            }
        })
        .catch(error => console.error('Error:', error));
    }
    
		function openEditCategoriaProdModal(modalId, categoriaId) {
    fetch(`/admin/get_categoriaproducto/${categoriaId}/`)
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                document.getElementById('editNombreCat').value = data.nombre;
                document.getElementById('editSubCat').value = data.subcat;
                document.getElementById('editSub-tipo').value = data.subtipo;
                const form = document.getElementById('editCatForm');
                form.action = `/admin/update_categoriaproducto/${categoriaId}/`;
                document.getElementById(modalId).style.display = 'block';
            }
        })
        .catch(error => console.error('Error:', error));
    }

    function openEditUserModal(modalId, userId) {
    console.log(`Opening modal for user ID: ${userId}`);
    fetch(`/update_user/${userId}/`)
        .then(response => {
            console.log('Fetch response:', response);
            if (response.ok) {
                return response.json();
            } else {
                throw new Error('Network response was not ok');
            }
        })
        .then(data => {
            console.log('Fetch data:', data);
            if (data.success) {
                document.getElementById('editUsername').value = data.username;
                document.getElementById('editEmail').value = data.email;
                document.getElementById('editType').value = data.type;
                const form = document.getElementById('editUserForm');
                form.action = `/update_user/${userId}/`;
                document.getElementById(modalId).style.display = 'block';
            } else {
                console.error('Fetch data success false:', data);
            }
        })
        .catch(error => console.error('Fetch error:', error));
    }

    function openEditTiendaModal(modalId, tiendaId) {
    fetch(`/admin/get_tienda/${tiendaId}/`)
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                console.log(data); // Para verificar los datos recibidos
                $('#editNombreTienda').val(data.nombre);
                $('#editDireccion').val(data.direccion);
                $('#editComuna').val(data.comuna);
                $('#editRegion').val(data.region);
                $('#editTelefono').val(data.telefono);
                $('#editEmailTienda').val(data.email);
                const form = document.getElementById('editTiendaForm');
                form.action = `/admin/update_tienda/${tiendaId}/`;
                document.getElementById(modalId).style.display = 'block';
            }
        })
        .catch(error => console.error('Error:', error));
}

function openEditStockModal(modalId, stockId) {
    fetch(`/admin/get_stock/${stockId}/`)
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                console.log(data);
                document.getElementById('editStockSucursal').value = data.sucursal;
                document.getElementById('editStockProducto').value = data.producto_id;  // Asegúrate de que data.producto_id sea el ID del producto
                document.getElementById('editStockCantidad').value = data.cantidad;
                const form = document.getElementById('editStockForm');
                form.action = `/admin/update_stock/${stockId}/`;
                document.getElementById(modalId).style.display = 'block';
            }
        })
        .catch(error => console.error('Error:', error));
}





function closeModal(modalId) {
    document.getElementById(modalId).style.display = 'none';
}

function showSection(sectionId) {
        // Ocultar todas las secciones
        document.querySelectorAll('.table-container').forEach(function(section) {
            section.style.display = 'none';
        });

        // Mostrar la sección seleccionada
        document.getElementById(sectionId).style.display = 'block';

        // Quitar la clase 'active' de todos los enlaces
        document.querySelectorAll('.nav-list a').forEach(function(link) {
            link.classList.remove('active');
        });

        // Añadir la clase 'active' al enlace seleccionado
        document.getElementById(sectionId + '-link').classList.add('active');
    }

    // Mostrar la sección de usuarios por defecto
    document.addEventListener('DOMContentLoaded', function() {
        showSection('usuarios');
    });


</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}
