{% extends 'base.html' %}
{% load static %}
{% block base %}

<contenedor class="bodeguero">
    <div class="grid">
        <div class="list-group">
          
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark h-50" style="padding: 50px 0; text-align: center;" >Inventario</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark h-50" style="padding: 50px 0; text-align: center;" >Pedidos</a>
            </div>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark h-50" style="padding: 50px 0; text-align: center;" >Materiales</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark h-50" style="padding: 50px 0; text-align: center;" >Almacenamiento</a>

            
            </div>
    </div>
</contenedor>
{% endblock base %}