{% extends 'app/index.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'app/css/style.css' %}">

{% load humanize %}
{% block contenido %}
<br><br><br><br><br>
<div class="container overflow-hidden" style="margin-top: 30px;">

        <div class="col-12 justify-content-center">
            <div class="steps text-center">
                <div class="row">
                    <div class="col activo">
                        <span class="steps_number">1</span>
                        <div class="steps_title">Carro</div>
                    </div>
                    <div class="col">
                        <span class="steps_number">2</span>
                        <div class="steps_title">Información</div>
                    </div>
                    <div class="col">
                        <span class="steps_number">3</span>
                        <div class="steps_title">Pago</div>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="contaier-flex">
    <br>

<h3 class="text-md-start" style="margin-left: 120px;">Carrito de compra </h3>

<div class="row">
    <div class="col-md-7">
        <div class="card" style="width: 1000px; margin-left: 50px;">
            <div class="card-body">
                {% for key, value in carrito_dict.items %}
                    <div class="position-relative">
                        <a href="{% url 'del' value.id %}" class="btn btn-outline-danger position-absolute top-0 end-0 m-2">Eliminar</a>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <img src="{{ value.imagen_url }}" class="img-fluid" alt="{{ value.nombre }}" style="width: 150px; margin-left: 50px;">
                            </div>
                            <div class="col-md-8">
                                <h8 class="card-title">{{ value.marca }}</h8>
                                <h5 class="card-text">{{ value.nombre }}</h5>
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p class="card-text">Precio unitario: ${{ value.precio_base |intcomma}}</p>
                                    </div>
                                    <div>
                                        <p class="card-text">Precio total: ${{ value.precio_total |intcomma}}</p>
                                    </div>
                                </div>
                                <br><br>
                                <div class="btn-group" role="group" aria-label="Botones de cantidad">
                                    <a href="{% url 'sub' value.id %}" class="btn btn-danger">-</a>
                                    <span class="btn btn-light">{{ value.cantidad }}</span>
                                    <form action="{% url 'add' value.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success">+</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="card mb-3" style="width: 500px;">
            <div class="card-body">
                <h2 class="card-title">Resumen del pedido</h2>
                <hr>
                <div class="row">
                    <div class="col">
                        <h6 class="text-start">Neto:</h6>
                    </div>
                    <div class="col text-end">
                        <p><span>${{ neto | intcomma }}</span></p> 
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h6 class="text-start">IVA:</h6>
                    </div>
                    <div class="col text-end">
                        <p><span>${{ iva | intcomma }}</span></p> 
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="text-start">TOTAL:</h4>
                    </div>
                    <div class="col text-end">
                        <h5><span>${{ total_carrito | intcomma }}</span></h5> 
                    </div>
                </div>
                <button class="btn btn-success w-100">Pagar</button>
            </div>
        </div>
    </div>
{% endblock %}
